.touch-container1 {
  background-color: #ffffff;
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}
.whole-contained1 {
  max-width: 1440px;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  background-color: #f8f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* background-color: red; */
}
.left-section-content-container1 {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 50px 0px #00000014;
  border-radius: 10px;
  /* background-color: red; */
}
.title-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  width: 80%;
  margin-bottom: 1%;
}
.title-container2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #4b5563;
}
.right-touch1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  /* background-color: red; */
  height: 550px;
  box-shadow: 0px 5px 50px 0px #00000014;
  border-radius: 10px;
  padding-top: 15px;
  margin-left: 50px;
}
.form-button1 button {
  width: 100%;
  height: 58px;
  border-radius: 10px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: none;
}
.touch-img1 {
  /* width: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -10px;
}
.touch-img1 img {
  object-fit: contain;
  width: 260px;
}
.touch-heading1 {
  padding-top: 90px;
}
.touch-heading1 h2 {
  font-size: 40px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.left-section-content1 {
  background-color: #ffffff;
  width: 100%;
  height: 103px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-heading1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 50%;
  color: #011632;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.5;
  /* background-color: green; */
}
.re-para1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  color: #3c4959;
  line-height: 24px;
  letter-spacing: 1.5;
  /* background-color: red; */
  padding-right: 3%;
}
.left-touch2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  flex-direction: column;
  /* gap: 15px; */
}
.right-section-content1 {
  width: 80%;
  padding-top: 20px;
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-left: 50px; */
}
.para-form2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100% !important;
  /* background-color: pink; */
}
.para-form2 p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #6b7280;
  margin-left: 2%;
}
.form-checkbox1 {
  position: relative;
  margin-top: -3%;
}
.custom-checkbox1 {
  width: 17px;
  height: 17px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.custom-checkbox1:checked {
  background-color: #ae9c7f;
  border: 1px solid rgba(133, 133, 133, 0.267);
}

.custom-checkbox1::before {
  content: "\2713"; /* Unicode checkmark character */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Color of the checkmark */
  font-size: 12px; /* Adjust the font size as needed */
  visibility: hidden;
}

.custom-checkbox1:checked::before {
  visibility: visible;
}
.follow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}
.follow-container p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #222222;
}
.whole-container-right {
  display: flex;
  gap: 10px;
  /* background-color: yellow; */
}
.touch-container-contained1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}
.whole-container-sb1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1440px; */
  /* margin-left: 2%; */
  /* background-color: yellowgreen; */
}
.key-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  /* background-color: yellow; */
}
.key-container4 img {
  object-fit: contain;
  width: 100%;
  /* margin-left: 2%; */
}
.touch-para1 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-para1 p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #4b5563;
  padding-bottom: 25px;
  text-align: center;
}
/* @media screen and (max-width: 1151px) {
  .touch-img1 img {
    width: 250px;
  }
}
@media screen and (max-width: 1150px) {
 
  .touch-img1 {
    margin-top: 1px;
  }
} */
@media screen and (max-width: 327px) {
}
@media screen and (max-width: 940px) {
  .touch-heading1 {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 519px) {
  .touch-heading1 h2 {
    font-size: 27px !important;
  }
  .touch-img1 img {
    width: 170px;
    margin-top: -5%;
  }
  .touch-para1 p {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .touch-heading1 {
    font-size: 26px !important;
  }
}
@media screen and (min-width: 1249px) and (max-width: 1323px) {
  .touch-container1 {
    width: 95%;
  }
}
@media screen and (min-width: 1175px) and (max-width: 1248px) {
  .touch-container1 {
    width: 100%;
  }
}
/* @media screen and (max-width: 1249px) {
  .touch-container1 {
    width: 90%;
  }
} */
@media screen and (max-width: 1174px) {
  .touch-container1 {
    width: 90%;
  }
  .para-form2 {
    width: 100%;
  }
  .para-form2 p {
    font-size: 14px !important;
  }
  /* .form-checkbox1 {
    margin-top: 3px;
  } */
}
@media screen and (max-width: 1099px) {
  .para-form2 p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1032px) {
  .para-form2 p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1048px) {
  .right-touch1 {
    height: 568px;
  }
}
@media screen and (min-width: 982px) and (max-width: 1032px) {
  .form-checkbox1 {
    margin-top: -11%;
  }
}
@media screen and (min-width: 877px) and (max-width: 935px) {
  .form-checkbox1 {
    margin-top: -2% !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 512px) {
  .form-checkbox1 {
    margin-top: -11% !important;
  }
}
@media screen and (min-width: 424px) and (max-width: 451px) {
  .form-checkbox1 {
    margin-top: -11% !important;
  }
}
@media screen and (max-width: 327px) {
  .form-checkbox1 {
    margin-top: -22% !important;
  }
}
@media screen and (max-width: 940px) {
  .touch-container-contained1 {
    flex-direction: column;

    align-items: center;
  }
  .left-touch2 {
    width: 100%;
    gap: 15px;
  }
  .follow-container {
    display: none;
  }
  .right-touch1 {
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
  }
  .right-section-content1 {
    width: 100%;
    padding-left: 80px;
  }
}
@media screen and (max-width: 600px) {
  .touch-para1 {
    /* background-color: red; */
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .right-section-content1 {
    padding-left: 55px;
  }
}
@media screen and (max-width: 500px) {
  .right-section-content1 {
    padding-left: 30px;
  }
}
@media screen and (max-width: 390px) {
  .right-section-content1 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 362px) {
  .touch-para1 {
    /* background-color: red; */
    width: 100%;
  }
  .re-heading1 {
    width: 100%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1116px) {
  .form-checkbox1 {
    margin-top: -9%;
  }
}
@media screen and (min-width: 1033px) and (max-width: 1048px) {
  .form-checkbox1 {
    margin-top: -11%;
  }
}
@media screen and (min-width: 941px) and (max-width: 981px) {
  .form-checkbox1 {
    margin-top: -11%;
  }
}
@media screen and (min-width: 877px) and (max-width: 940px) {
  .form-checkbox1 {
    margin-top: 1%;
  }
}
@media screen and (max-width: 423px) {
  .form-checkbox1 {
    margin-top: -12%;
  }
}

@media screen and (max-width: 1100px) {
  .whole-contained1 {
    width: 90%;
  }
}
@media screen and (max-width: 990px) {
  .whole-contained {
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .whole-contained1 {
    height: 300px;
  }
}

@media screen and (max-width: 753px) {
  .whole-contained1 {
    height: 280px;
    width: 90%;
  }
}
@media screen and (max-width: 701px) {
  .whole-contained1 {
    width: 95%;
  }
}
@media screen and (max-width: 670px) {
  .whole-contained1 {
    width: 100%;
  }
}
.header4 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 60px;
  padding-top: 12%;
}
@media screen and (max-width: 1340px) {
  .header4 h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 1230px) {
  .header4 h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .whole-contained {
    width: 90%;
  }
}
@media screen and (max-width: 990px) {
  .whole-contained {
    width: 90%;
    text-align: center;
  }
}
@media screen and (min-width: 901px) and (max-width: 975px) {
  .header4 h2 {
    font-size: 24px;
  }
  .whole-contained1 {
    width: 100%;
  }
}
@media screen and (max-width: 811px) {
  .header4 h2 {
    font-size: 23px !important;
  }
  .whole-contained1 {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .header4 h2 {
    font-size: 25px;
  }
  .whole-contained {
    height: 300px;
  }
  .register-container {
    height: 400px;
  }
}
@media screen and (max-width: 790px) {
  .header4 h2 {
    font-size: 25px;
  }
  .register-container {
    height: 380px;
  }
}
@media screen and (max-width: 753px) {
  .header4 h2 {
    font-size: 24px;
  }
  .register-container {
    height: 360px;
  }
  .button-contained button {
    height: 55px;
    width: 206px;
    font-size: 18px;
  }
  .whole-contained {
    height: 280px;
    width: 90%;
  }
}
@media screen and (max-width: 701px) {
  .whole-contained {
    width: 95%;
  }
}
@media screen and (max-width: 670px) {
  .whole-contained {
    width: 100%;
  }
  .header4 h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 672px) {
  .whole-contained {
    width: 100%;
  }
  .header4 h2 {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 613px) {
  .whole-contained {
    width: 100%;
  }
  .header4 h2 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .register-container {
    height: 320px;
    background-color: #f8f6f2;
  }
  .avatar2 {
    position: absolute;
    margin-left: 50px;
    z-index: 1;
    margin-bottom: 40px;
    width: 100px;
    height: auto;
  }
  .avatar1 {
    position: relative;
    left: -15%;
    width: 100px;
    height: auto;
  }
  .avatar3 {
    position: relative;
    right: -15%;
    width: 100px;
    height: auto;
  }
  .header4 h2 {
    font-size: 26px !important;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .header4 {
    width: 66%;
  }
  .button-contained button {
    height: 66px;
    width: 206px;
    font-size: 18px;
  }
}
@media screen and (max-width: 747px) {
  .whole-contained1 {
    width: 100%;
  }
}
@media screen and (max-width: 583px) {
  .header4 {
    width: 70% !important;
    text-align: center;
  }
}
@media screen and (max-width: 549px) {
  .header4 {
    width: 75% !important;
  }
}
@media screen and (max-width: 513px) {
  .header4 {
    width: 80% !important;
  }
}
@media screen and (max-width: 452px) {
  .header4 {
    width: 90% !important;
  }
}
@media screen and (max-width: 428px) {
  .header4 {
    width: 95% !important;
  }
}
@media screen and (max-width: 405px) {
  .header4 {
    width: 100% !important;
  }
}
@media screen and (max-width: 385px) {
  .header4 {
    width: 90% !important;
  }
  .header4 h2 {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 348px) {
  .header4 {
    width: 100% !important;
    /* background-color: red; */
  }
  /* .header4 h2 {
    font-size: 10px !important;
  } */
}
@media screen and (max-width: 524px) {
  .header4 {
    width: 75%;
  }
}
@media screen and (max-width: 461px) {
  .header4 {
    width: 85%;
  }
}
@media screen and (min-width: 453px) and (max-width: 481px) {
  .header4 {
    width: 90% !important;
    /* background-color: red; */
  }
}
@media screen and (max-width: 407px) {
  .header4 {
    width: 95%;
  }
}
@media screen and (max-width: 364px) {
  .header4 {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  /* .header4 h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: "Poppins", sans-serif;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
  } */
  .button-contained button {
    height: 55px;
    width: 206px;
    font-size: 17px;
  }
}
@media screen and (min-width: 941px) and (max-width: 1035px) {
  .re-para1 {
    font-size: 15px !important;
    line-height: 20px !important;
  }
}
@media screen and (min-width: 1036px) and (max-width: 1057px) {
  .re-para1 {
    padding-right: 1%;
    line-height: 20px !important;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1268px) {
  .re-para1 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1150px) {
  .re-heading {
    font-size: 20px;
  }
  .re-para1 {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 341px) {
  .re-para1 {
    line-height: 16px;
  }
}
