.blog-container-full {
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* background-color: red; */
}
.doctor-logo-contained-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: orange; */
  position: absolute;
  top: 0;
}
.blog-img-container-flex-contained {
  width: 100%;
  position: relative;
}
.whole-Container {
  background-color: #f5f3ef;
  /* background-color: yellow; */
  width: 100%;
  height: auto;
  /* padding-top: 2px; */
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
  /* margin-top: -35px; */
}
.blog-container {
  text-align: center;
  margin: 20px;
}

.blog {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}
.blog-image-container {
  margin-top: -15px;
}
.blog-image-container img {
  width: 123px;
  /* height: 10px; */
  border-radius: 10px;
  object-fit: cover;
}
.blog-img-cont {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.blog-cards-cont {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.blog-card {
  width: 48%;
  height: 570px;
  background-color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
}
.blog-cards {
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: orange; */
}
.blog-card1 {
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 24px;
}
.blog-cardd {
  display: flex;
  width: 92%;
  align-items: center;
  /* background-color: orange; */
}
.card-blog1 {
  width: 90%;
  /* height: 550px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: orange; */
}
.blog-card-img {
  width: 100%;
}
.blog-card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-color: red; */
}
.blog-card-head {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  /* justify-content: center; */
  /* background-color: orange; */
  padding-top: 3%;
}
.blog-card-head p {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
}
.blog-card-text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.blog-card-button {
  width: 100%;
  /* background-color: orange; */
  /* margin-top: 1%; */
}
.blog-card-button button {
  width: 308px;
  height: 55px;
  border-radius: 10px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: none;
}
.blog-card-img2 {
  width: 230px;
  height: 210px;
  /* background-color: orange; */
}
.hr-contained {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-set {
  width: 60%;
}
.blog-card-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.blog-card-head2 {
  padding-top: 3.5%;
  width: 100%;
  height: 70px;
  /* background-color: orange; */
  display: flex;
  align-items: center;
}
.blog-card-head2 p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.blog-card-head-flex {
  padding-top: 3.5%;
  width: 90%;
  height: 70px;
  /* background-color: orange; */
  display: flex;
  align-items: center;
}
.blog-card-head-flex p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.blog-card-text2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

.blog-card-button2 button {
  width: 80%;
  height: 44px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.card-logo {
  width: 98px;
  height: 31px;
  border-radius: 8px;
  background-color: rgba(73, 115, 103, 0.1);
  display: flex;
  justify-content: center;
}
.card-logo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
}

.card-flex {
  /* height: 88%; */
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-logo2 {
  width: 98px;
  height: 31px;
  /* border-radius: 6px; */
  background-color: #eff6ff;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 6px;
}
.card-logo2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
}

.card-logo {
  width: 98px;
  height: 31px;
  border-radius: 8px;
  background-color: rgba(73, 115, 103, 0.1);
  display: flex;
  justify-content: center;
  align-items: start;
}
.card-logo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  margin-top: 3%;
}
