.experience-full-container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: orange; */
}
.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.container-flux-container-contained {
  width: 75%;
  /* background-color: lime; */
  display: flex;
  height: auto;
}
.img-experience-contained {
  width: 100%;
  margin-bottom: 2%;
  margin-left: -5%;
}
.img-experience-contained img {
  position: absolute;
  z-index: 1;
}

.img-experience-contained {
  object-fit: contain;
  width: 100%;
}
.left-sectionn {
  width: 70%;
  /* padding: 20px; */
  /* background-color: yellow; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  /* position: relative; */
}

.right-sectionn {
  width: 30%;
  /* background-color: lime; */
}
.image-conatiner {
  width: 100%;
  height: 100%;
}
.image-conatiner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 15%;
}
.button-container button img {
  object-fit: contain;
  width: 25px;
}
.buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

.button-container button {
  width: 262px;
  height: 66px;
  font-size: 18px;
  background-color: #ae9c7f;
  color: #f3f4f6;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.banggg {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
}
.img-btn-flex-flux {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: yellow; */
}
.button-container {
  display: flex;
  width: 100%;
  /* background-color: orange; */
}
.heading-conatiner {
  width: 75%;
  position: relative;
  z-index: -1;
  /* background-color: yellow; */
}
.heading-conatiner h2 {
  font-size: 48px;
  line-height: 58px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.para-container {
  width: 77%;
}
.para-container p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 29px;
  color: #555555;
}
