.faqtable {
  width: 800px;
  display: flex;
  justify-content: center;
}
.main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.heading {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.heading-text {
  font-size: 40px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
.faq-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  margin-top: 2px;
}
.faq-heading p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  /* line-height: 50px; */
  font-weight: 400;
}
.faq-row-wrapper .faq-row {
  border: none !important;
  background-color: #f5f3ef;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px !important;
}

.pills {
  justify-content: center;
}

.nav-pills .nav-link.active {
  background-color: rgb(174, 156, 127);
  color: white;
  font-size: 20px;
}
.nav-link {
  color: black;
  font-size: 20px;
}

.nav-link:hover {
  color: grey;
}
.faq1-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.fag-img {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}
.fag-img img {
  object-fit: contain;
  width: 170px;
}
@media screen and (max-width: 670px) {
  .faq-heading {
    width: 80%;
    /* background-color: red; */
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
  }
  .faq-heading p {
    font-size: 16px;
  }
}
@media screen and (max-width: 395px) {
  .faq-heading {
    width: 90%;
  }
}
@media screen and (max-width: 351px) {
  .faq-heading {
    width: 100%;
  }
}
